version: '3.8'

services:
  pdf-merger:
    image: pdf-merger:latest
    networks:
      - web
      - pdf_internal
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=web"
        - "traefik.http.routers.pdf.rule=Host(`pdf.andreramalho.tech`)"
        - "traefik.http.routers.pdf.entrypoints=websecure"
        - "traefik.http.routers.pdf.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.pdf.loadbalancer.server.port=8081"
        
        # --- ATIVAÇÃO DO RATE LIMIT ---
        # 1. Define qual middleware este roteador vai usar
        - "traefik.http.routers.pdf.middlewares=pdf-ratelimit"
        # 2. Configura o middleware (Média de 5 requisições por segundo)
        - "traefik.http.middlewares.pdf-ratelimit.ratelimit.average=5"
        # 3. Configura o burst (Permite picos de até 10 requisições)
        - "traefik.http.middlewares.pdf-ratelimit.ratelimit.burst=10"

  prometheus:
    image: prom/prometheus:latest
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    networks:
      - pdf_internal
    deploy:
      placement:
        constraints: [node.role == manager]

  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=suasenha
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - web
      - pdf_internal
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=web"
        - "traefik.http.routers.grafana.rule=Host(`monitoramento.andreramalho.tech`)"
        - "traefik.http.routers.grafana.entrypoints=websecure"
        - "traefik.http.routers.grafana.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.grafana.loadbalancer.server.port=3000"

networks:
  web:
    external: true
  pdf_internal:
    driver: overlay

volumes:
  prometheus_data:
  grafana_data: